cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
distro==1.9.0
joblib==1.4.2
JPype1==1.5.0
nltk==3.8
numpy==2.1.1
packaging==24.1
pandas==2.2.2
pdfminer.six==20240706
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.9.11
six==1.16.0
tabula-py==2.9.3
tabulate==0.9.0
tqdm==4.66.5
tzdata==2024.1
